In [1]:
%load_ext rpy2.ipython
import pandas as pd
import numpy as np

# Questions of list of integers or characters

## Sorting a series of  numbers

 Take a series of numbers and without using any pre defined sort function, order them in ascending order.

### Python

In [27]:
#Input
num = [3,4,1,5,2];

#solution
print("Unsorted numbers:", num)
lenNum = len(num)

for i in range(lenNum):
  for j in range(i+1, lenNum):
    if(num[i]>num[j]):
      tmp =  num[i]
      num[i] = num[j]
      num[j] = tmp

print("Sorted numbers:", num)

('Unsorted numbers:', [3, 4, 1, 5, 2])
('Sorted numbers:', [1, 2, 3, 4, 5])

### R

In [63]:
%%R

#Input 
num = c(3,4,1,5,2)

#solution
cat("Unsorted numbers: ", num,"\n")

index1 = length(num) - 1 
index2 = length(num)

for(i in 1:index1){
  k<-i+1
  for(j in k:index2){
    if(num[i]>num[j]){
      tmp<-num[i]
      num[i]<-num[j]
      num[j]<-tmp
    }
  }
}
cat("Sorted numbers: ", num,"\n")

Unsorted numbers:  3 4 1 5 2
Sorted numbers:  1 2 3 4 5

## Compare two set of characters

Compare two sets of values against each other and find the matches, without using any function

### Python

In [113]:
#Input
listA = ["a","m","v","c","g"];
listB = ["b","g","m","d","q","f"];

#solution
lenA = len(listA)
lenB = len(listB)

listM = []

for i in range(lenA):
  for j in range(lenB):
    if(listA[i]==listB[j]):
      listM.append(listA[i])
    
print(listM)

['m', 'g']

### R

In [119]:
%%R

#Input
vecA = c("a","m","v","c","g")
vecB = c("b","g","m","d","q","f")

#solution
vecM = vector()

k=1
for(i in 1:length(vecA)){
  for(j in 1:length(vecB)){
    if(vecA[i]==vecB[j]){
      vecM[k]<-vecA[i]
      k=k+1
    }
      
  }
}
cat(vecM,"\n")

m g

## Write a function to get mean of a set of numbers

Without using any pre defined function

### Python

In [158]:
#Function
def getMeanList(num):
    sumNum = 0
    lenNum = 0
    for n in num:
        sumNum = sumNum + n
        lenNum = lenNum + 1
  
    mean = sumNum/lenNum
    return mean

#input
inputNum = [2,4,6]
getMeanList(inputNum)

4

### R

In [162]:
%%R

#function
getMeanVec<-function(num=NULL){
  sumNum<-0
  lenNum<-0
  for(i in num){
    sumNum<-sumNum+i
    lenNum<-lenNum+1    
  }
  mean = sumNum/lenNum
  mean
}

#input
inputNum<-c(2,4,6)
getMeanVec(inputNum)

[1] 4

## Split a series of random numbers by a threshold
Generate a series of 10 random numbers between 1-100 and split them into those <50 and >50 (use functions if needed)

### Python

In [163]:
import random
#Generate random numbers and convert into panda series
rlist = random.sample(range(1, 100), 10)
rseries = pd.Series(rlist)

#split series
value=50
subset1=rseries[rseries<50]
subset2=rseries[rseries>=50]

#print output
print(rseries)
print(subset1)
print(subset2)

0    67
1    44
2    62
3    99
4    37
5    28
6    75
7    45
8    42
9    13
dtype: int64
1    44
4    37
5    28
7    45
8    42
9    13
dtype: int64
0    67
2    62
3    99
6    75
dtype: int64

### R

In [164]:
%%R

rvector<-sample(100,10)
subset1<-rvector[rvector<50]
subset2<-rvector[rvector>=50]

cat(rvector,"\n")
cat(subset1,"\n")
cat(subset2,"\n")

85 13 90 24 91 70 54 96 20 86
13 24 20
85 90 91 70 54 96 86

# Questions on data frame operations

## Sample data frame Python pandas

In [126]:
data = [['CDH1','drug1',10],['CDH1','drug2',15],
        ['CHEK2','drug1',2],['CHEK2','drug2',1.5],
        ['CDK4','drug1',3],['CDK4','drug2',3.1]]
expr = pd.DataFrame(data,columns=['gene','drug','expression'])

data = [['CDH1','drug1',0.5],['CDH1','drug2',0.7],
        ['CHEK2','drug1',1],['CHEK2','drug2',0.87],
        ['CDK4','drug1',0.7],['CDK4','drug2',0.25]]
metl = pd.DataFrame(data,columns=['gene','drug','methylation'])

print(expr)
print(" ")
print(metl)

    gene   drug  expression
0   CDH1  drug1        10.0
1   CDH1  drug2        15.0
2  CHEK2  drug1         2.0
3  CHEK2  drug2         1.5
4   CDK4  drug1         3.0
5   CDK4  drug2         3.1

    gene   drug  methylation
0   CDH1  drug1         0.50
1   CDH1  drug2         0.70
2  CHEK2  drug1         1.00
3  CHEK2  drug2         0.87
4   CDK4  drug1         0.70
5   CDK4  drug2         0.25

## Sample data frame R

In [142]:
%%R

expr = data.frame(gene=rep(c("CDH1","CHEK2","CDK4"),each=2),
                  drug=rep(c("drug1","drug2"),3),
                  expression=c(10,15,2,1.5,3,3.1))

metl = data.frame(gene=rep(c("CDH1","CHEK2","CDK4"),each=2),
                  drug=rep(c("drug1","drug2"),3),
                  methylation=c(0.5,0.7,1,0.87,0.7,0.25))

print(expr)
cat("\n")
print(metl)

   gene  drug expression
1  CDH1 drug1       10.0
2  CDH1 drug2       15.0
3 CHEK2 drug1        2.0
4 CHEK2 drug2        1.5
5  CDK4 drug1        3.0
6  CDK4 drug2        3.1

   gene  drug methylation
1  CDH1 drug1        0.50
2  CDH1 drug2        0.70
3 CHEK2 drug1        1.00
4 CHEK2 drug2        0.87
5  CDK4 drug1        0.70
6  CDK4 drug2        0.25

## Merge data frames

Given two data frames with common columns, merge them into a final dataframe


### Python

In [139]:
data = pd.merge(expr,metl,on=['gene','drug'],how='outer')
data

    gene   drug  expression  methylation
0   CDH1  drug1        10.0         0.50
1   CDH1  drug2        15.0         0.70
2  CHEK2  drug1         2.0         1.00
3  CHEK2  drug2         1.5         0.87
4   CDK4  drug1         3.0         0.70
5   CDK4  drug2         3.1         0.25

### R

In [144]:
%%R

data = merge(expr,metl,by=c('gene','drug'))
data

   gene  drug expression methylation
1  CDH1 drug1       10.0        0.50
2  CDH1 drug2       15.0        0.70
3  CDK4 drug1        3.0        0.70
4  CDK4 drug2        3.1        0.25
5 CHEK2 drug1        2.0        1.00
6 CHEK2 drug2        1.5        0.87

## Group by features

Get mean expression/methylation for each gene across treatments

### Python

In [145]:
data.groupby(['gene'])['expression'].mean()

gene
CDH1     12.50
CDK4      3.05
CHEK2     1.75
Name: expression, dtype: float64

### R

In [147]:
%%R 

aggregate(expression~gene,data,mean)

   gene expression
1  CDH1      12.50
2  CDK4       3.05
3 CHEK2       1.75

## Get gene with max expression in response to drug1

### Python

In [173]:
tmp = data[data['drug'] == 'drug1']
tmp[tmp['expression'] == tmp.expression.max()]

   gene   drug  expression  methylation
0  CDH1  drug1        10.0          0.5

### R

In [175]:
%%R

tmp<-data[data$drug=='drug1',]
tmp[tmp$expression==max(tmp$expression),]

  gene  drug expression methylation
1 CDH1 drug1         10         0.5

# String operations

## Reverse a string

### Python

In [218]:
def reverse_string(str):  
    str1 = ""   # Declaring empty string to store the reversed string  
    for i in str:  
        str1 = i + str1  
    return str1    # It will return the reverse string to the caller functi

reverse_string("ABC")

'CBA'

### R

In [217]:
%%R

revString<-function(string=NULL){
  tmp<-unlist(strsplit(string,""))
  tmpR<-vector()
  for(i in 1:length(tmp)){
    tmpR<- c(tmp[i],tmpR)    
  }
  stringRev=paste(tmpR,collapse="")
  stringRev
}

revString("ABC")

[1] "CBA"

# Questions on bash commands

## Find names of files with suffix .vcf in a given directory

In [186]:
%%bash

#input
touch a.txt
touch b.vcf

find . -regextype sed -regex ".*/.*.vcf$"

./b.vcf

## Sort values in a bed file and get number of unique elements and count of elements

In [189]:
%%bash

#input
printf "a\na\nb\nc\na\nz\nc\nc\nb" > tmp.txt

#sort
sort tmp.txt|uniq -c

      3 a
      2 b
      3 c
      1 z

## Sort a BED files by chromosome and position

In [196]:
%%bash

#input
rm -f tmp.bed
printf "chr1\t10\t40\n" >> tmp.bed
printf "chr1\t1\t10\n" >> tmp.bed
printf "chr10\t12\t15\n" >> tmp.bed
printf "chr3\t15\t25\n" >> tmp.bed
printf "chr10\t1\t5\n" >> tmp.bed

cat tmp.bed
echo " "

#sort
sort -k1,1 -k2,2n tmp.bed #regular

echo " "

sort -k1,1V -k2,2n tmp.bed #lexicographic

chr1	10	40
chr1	1	10
chr10	12	15
chr3	15	25
chr10	1	5

chr1	1	10
chr1	10	40
chr10	1	5
chr10	12	15
chr3	15	25

chr1	1	10
chr1	10	40
chr3	15	25
chr10	1	5
chr10	12	15